@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 249, 64);
  font-family: 'Titillium Web', sans-serif;
  color: rgb(0, 0, 0);

  #container {
    background-color: rgb(56, 56, 56);
    width: 100vw;
    height: 100vh;
  }
}